<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.model.Bus_InfoDAO">
   
    
    <select id="select" resultType="Bus_InfoDTO">
    	select line_id, line_name, dir_up_name, dir_down_name, line_kind from bus_info where line_name=#{line_name}
    </select>
    
    <select id="busSearch" resultType="Bus_InfoDTO">
    	select line_name, line_kind from bus_info 
    </select>
    
    <select id="congestionBusSearch" resultType="Bus_InfoDTO">
    	select line_name from bus_info 
    </select>

    
  </mapper>